{% extends 'EB/base.html' %}

{% block title %}Survivors Registry{% endblock %}

{% block content %}

<div class="projects-section">
    <h4 class="head">Survivors Registry<span class="line"></span></h4>
</div>

<div class="blog-section">
    <div class="blog-post-grids">
        <div class="col-md-4 blog-posts">
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/Aphorism.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi1.jpg")" style="width: 100%;max-height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/Aphorism.htm" class="blog-title">Aphorisms</a>
                <span></span>
                <p>Here are some things that people have said about the Cadillac automobile (various aphorisms, slogans and other trivia).[ circa 20 pages - no images ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/Cad_art.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi2.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/Cad_art.htm" class="blog-title">Art & Artifacts</a>
                <span></span>
                <p>Paintings, photography, sculpture  are not the only kind of art inspired by the elegance and beauty of the Cadillac automobile. The car, the crest, the name... All have been used in creating a bizarre assortment and array of collectible objects and artifacts. Many of them will surprise you.[ circa 23 pages filled with images ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/Books.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi_Books.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/Books.htm" class="blog-title">Books</a>
                <span></span>
                <p>Here is a list of the best-known books devoted entirely or in part to Cadillac and La Salle automobiles </p>                            
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/Eld53-55.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi_Eldorado3.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/Eld53-55.htm" class="blog-title">Eldorado</a>
                <span></span>
                <p> This section describes and illustrates the top-of-the-line, rear-wheel-drive Eldorado models of 1953 through 1966; there is a link to a site dealing with the front-wheel-drive Eldorados of 1967 and later </p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/Cad_flm2.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi15.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/Cad_flm2.htm" class="blog-title">Movies</a>
                <span></span>
                <p>Do you enjoy seeing old Cadillacs and LaSalles in the movies? Here is a non-exhaustive list of some well-known movies in which these models frequently had a leading role.[ circa 180 pages and 100+ images ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/mascotse.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi13.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/mascotse.htm" class="blog-title">Insignia and Mascots (Fake)</a>
                <span></span>
                <p>The Cadillac crest and the stylish mascots worn by classic Cadillacs and LaSalles inspired many copies from accessory houses in the sixties and seventies; some of the more well-known "fakes" are illustrated here. [ circa 20 pages and quite a few images ]</p>
            </div>
            

        </div>
        <div class="col-md-4 blog-posts">
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/el53chap.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi4_Eldorado1953.jpg")" style="width: 100%;max-height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/el53chap.htm" class="blog-title">Eldorado, 1953</a>
                <span></span>
                <p> This is the most complete source of facts, pictures and surviving car information for the first year, top-of-the-line Eldorado.  Only 532 units were built.  At the urging of a Swedish collector, this page was begun in late 2000.[ circa 35 pages with images of survivors ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/engines.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi5_Engines.jpg")" style="width: 100%;max-height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/engines.htm" class="blog-title">Engines</a>
                <span></span>
                <p> The first Cadillac was powered by a single-cylinder motor; the company experimented with two, three, four, six, eight, twelve and sixteen-cylinders but only ones, fours, eights, twelves and sixteens were built. [ circa 35 pages and many images ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/mascotsb.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi6_FshrGuild.jpg")" style="width: 100%;max-height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/mascotsb.htm" class="blog-title">Fisher Coach</a>
                <span></span>
                <p> Fisher adopted Napoléon's wedding coach as its emblem, on 10 July 1923; the Fisher Body Craftsman's Guild  was a competition begun in the early 30s for boys of 12 to 19 years of age, to build a replica of the Fisher coach. [circa 15 pages with representative images ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/59_misc.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi7.jpg")" style="width: 100%;max-height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/59_misc.htm" class="blog-title">Follies of 1959</a>
                <span></span>
                <p> The 1959 Cadillac has become an American icon; you either love it or hate it; these pages are filled with images (often amusing ones) centering on those incredible, rocket-ship tail-fins. [ circa 60 pages and hundreds of images ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/Million.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi14.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/Million.htm" class="blog-title">Millionth Models</a>
                <span></span>
                <p> Cadillac built only three cars in 1902;  forty-seven years later, in late 1949, the millionth Cadillac rolled off the assembly line. Over the next 50-year period, a further 9,000,000+ cars were built. Here are the "millionth" cars.[ circa 20 pages and a dozen images ]</p>
            </div>

        </div>
        <div class="col-md-4 blog-posts span_66">
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/59shark.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi8.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/59shark.htm" class="blog-title">Follies of 1959 "59 Shark"</a>
                <span></span>
                <p> This is the story of a 1959 Series 62 convertible that found its way to Monaco, where it was acquired by a friend of mine.  If you have ever bought a used car, unseen, and driven it home, you will appreciate this tale. [ circa 35 pages and 18 images ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/MISC_NDX.HTM"><img src="@Url.Content("~/LogiMasterpicts/Logi9.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/MISC_NDX.HTM" class="blog-title">Fun Stuff and Miscellany</a>
                <span></span>
                <p> In this section you will find a number of topics of general interest relating to specific Cadillac models or themes.[ 6 pages, with links, and many images ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/Fact_ndx.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi10.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/Fact_ndx.htm" class="blog-title">Glossary and Fact Finder</a>
                <span></span>
                <p>  These pages are replete with summary information and trivia relating to Cadillac and La Salle cars and history; topics covered range from "A" pillars all the way to a "Zagato"-bodied custom Cadillac. [ 450 pages with quite a few illustrations ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/mascotsh.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi11.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/mascotsh.htm" class="blog-title">Hood Mascots and Stand-Up Crests</a>
                <span></span>
                <p> The first radiator mascots were the motometer, that kept the driver appraised of coolant temperature.  With the advent of dash-mounted temperature gauges, the motometer gave way to stylish, stand-up (then lay-down) hood mascots. [ circa 50 pages and lots of images ]</p>
            </div>
            <div class="blog-post">
                <a href="http://cadillacdatabase.com/Dbas_txt/mascots.htm"><img src="@Url.Content("~/LogiMasterpicts/Logi12.jpg")" style="width: 100%; height: 100%"></a>
                <a href="http://cadillacdatabase.com/Dbas_txt/mascots.htm" class="blog-title">Insignia</a>
                <span></span>
                <p>Apart from the well-known Cadillac "V", and the wreath and crest, many decorative insignia have appeared on the cars and in factory literature since the early part of last century. Many are illustrated here.[ circa 200 more pages and hundreds of images ]</p>
            </div>     
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}

    